@model DetalhesGeneroFilmeViewModel;

@{
    ViewBag.Titulo = "Detalhes do Gênero de Filme";
}

<hr />
<div class="row justify-content-center my-5">
    <div class="col-md-8">

        <div class="card rounded-4 border-0">
            <div class="card-body p-md-5">
                <h3>Detalhes</h3>

                <div class="form-group d-grid gap-2 mt-3">
                    <label for="Descricao" class="control-label fs-5">Descrição:</label>
                    <input name="Descricao" class="form-control" value="@Model.Descricao" readonly disabled />
                </div>

                <div class="form-group d-flex align-items-center justify-content-end gap-3 mt-5">
                    <a asp-action="Index">Voltar para a listagem</a>
                </div>
            </div>
        </div>

    </div>
</div>